.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // width: 210px;
    // background-color: blue;
    margin-left: 150px;
    margin-right: 50px;
    margin-top: 20px;
  }
  
  .list {
    display: flex;
    flex-direction: column;
    // background-color: blueviolet;
  }