.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // width: 210px;
  // background-color: blue;
  // margin-left: 150px;
  // margin-right: 50px;
  margin-left: 18%;
  margin-right: 5%;
}

.list {
  display: flex;
  flex-direction: column;
  // background-color: blueviolet;
}

.toDisplay {
    // margin-left: 150px;
    margin-left: 18%;
    opacity: 0.7;
}

// .display {
//   margin-left: 200px;
//   // color: gray;
//   // margin-bottom: 20px;
//   opacity: 0.7;
// }
