<div [ngClass]="!clicked ? 'display' : 'noteComponent'">
  <mat-card [ngClass]="!clicked ? 'card' : 'noteCard'" [style.background-color]="noteCards.color.code">
    <div class="alignTitleIcon">
      <p class="title" (click)="UpdateNote(noteCards)">{{noteCards.title}}</p>
      <button mat-icon-button class="pinIcons" matSuffix *ngIf="!noteCards.isPinned" (click)="pinned()">
        <img src="../../../assets/pin.svg" class="pinIcon" matTooltip="Pin note">
      </button>
      <button mat-icon-button class="pinIcons" matSuffix *ngIf="noteCards.isPinned" (click)="unpinned()" fxFlex.xs="30">
        <img src="../../../assets/pinned.svg" class="pinIcon" matTooltip="Unpin Icon">
      </button>
    </div>
    <p class="description" (click)="UpdateNote(noteCards)">{{noteCards.description}}</p>
    <div *ngIf="noteCards.remainder !== null">
      <mat-chip-list #chipList aria-label="Remainder">
        <mat-chip>
          <img src="../../../assets/clock.svg">
          {{noteCards.remainder | date:'MMM dd hh:mm aaa'}}
          <mat-icon matChipRemove *ngIf="removable" (click)="removeReminder()">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>

    <mat-chip-list #chipList aria-label="Label" *ngIf="noteCards.labels !== []">
      <mat-chip *ngIf="noteCards.labels[0]">
        {{noteCards.labels[0].label}}
        <mat-icon matChipRemove *ngIf="removable" (click)="removeLabel(noteCards.labels[0])">cancel</mat-icon>
      </mat-chip>
      <mat-chip *ngIf="noteCards.labels[1]">
        {{noteCards.labels[1].label}}
        <mat-icon matChipRemove *ngIf="removable" (click)="removeLabel(noteCards.labels[1])">cancel</mat-icon>
      </mat-chip>
      <mat-chip *ngIf="noteCards.labels[2]">
        {{noteCards.labels[2].label}}
        <mat-icon matChipRemove *ngIf="removable" (click)="removeLabel(noteCards.labels[2])">cancel</mat-icon>
      </mat-chip>
      <mat-chip *ngIf="noteCards.labels[3]">
        + {{noteCards.labels.length - 3}}
      </mat-chip>
    </mat-chip-list>

    <!-- <div class="showMe"> -->
    <!-- (setVisibilityEvent)="setVisibility($event)"
      [style.visibility]="visibility" -->
    <app-note-icon [isArchived]="noteCards.isArchive" (reminder)="setReminder($event)" (colorEvent)="setColor($event)"
      (delete)="addToTrash($event)" (archive)="archived($event)" (unArchived)="unarchive($event)"
      (labelled)="addLabelOrRemoveLabel($event)" (createLabelEvent)="createNewLabel($event)"
      (removeLabel)="removeLabel($event)" [noteCards]="noteCards">
    </app-note-icon>
    <!-- </div> -->
  </mat-card>
</div>
