<div class='table'>
    <div class='cell'>
      <mat-card class="example-card">
          <div class="paragraph">
              <span style="color: blue">F</span>
              <span style="color: red">u</span>
              <span style="color: orange">n</span>
              <span style="color: blue">d</span>
              <span style="color: green">o</span>
              <span style="color: red">o</span>
          </div>

          <div class="para"> 
            Forgot Password
          </div>
          
          <form  action="">
              <div class="example-container">
                  <mat-form-field appearance="outline">
                      <mat-label>Email</mat-label>
                    <input [formControl]="email" matInput [(ngModel)]="forgotData.email"
                    autocomplete="off" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>            
                  </mat-form-field>  
                  <div class="button">
                      <button mat-raised-button color="primary" [disabled]=
                      "getErrorMessage()!=''" (click)="continue()">Submit</button>
                  </div>
              </div>
          </form>  
      </mat-card>
    </div>
  </div>
